<header>
  <h2>{{title}}</h2>
</header>

{{! here templates folder is used to render hbs file   }}

{{! partials is a one type of components which is use in application }}
{{! we can use this partials many times in application  }}