@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css); */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
/* $border-radius: 20px; */
body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  flex-grow: 1;
}

header {
  background-color: white;
  border-radius: 30px;
  margin-top: 16px;
  margin-bottom: 48px;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 16px;
}

.widget {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  height: 400px;
  width: 800px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.weatherLocation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: #33312d;
  border-radius: 50px;
}

#add {
  padding: 8px;
  border-radius: 15px;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 1px rgb(182, 178, 178);
}

#add::placeholder {
  color: #080705;
  font-weight: bold;
}

#btn {
  padding: 8px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 1px rgb(254, 254, 254);
  background: #ff0051;
  color: #fff;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 1s;
}

#btn:hover {
  background-color: #f4dfdf;
  color: #080705;
  box-shadow: 2px 2px 1px #7d364d;
}

.weatherLocation input:focus {
  outline: 0 none;
}

.widget .weatherIcon {
  flex: 1 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #fafafa;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
  background-image: url(../background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.widget .weatherIcon i {
  padding-top: 30px;
}
.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.widget .weatherInfo .temperature {
  width: 30%;
  font-size: 35px;
  display: flex;
  justify-content: center;
}
.widget .weatherInfo .description {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  justify-content: center;
}
.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
}
.widget .weatherInfo .description .place {
  text-align: center;
  font-size: 15px;
}

.widget .weatherInfo .suntime {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  justify-content: space-evenly;
}

.widget .weatherInfo .suntime .sunrise,
.widget .weatherInfo .suntime .sunset {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 23px;
}
.widget .dateday {
  flex: 0 0 30%;
  height: 40%;
  background: rgb(225, 54, 97);
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
p a {
  text-decoration: none;
  color: #e4d6a7;
  font-size: 10px;
}

@media only screen and (max-width: 850px) {
  body {
    min-height: 110vh;
  }
  .widget {
    height: 500px;
    width: 700px;
  }
}

@media only screen and (max-width: 750px) {
  .widget {
    top: 55%;
    height: 550px;
    width: 650px;
  }
}

@media only screen and (max-width: 670px) {
  body {
    min-height: 120vh;
  }
  .widget {
    height: 570px;
    width: 600px;
  }
}

@media only screen and (max-width: 610px) {
  .widget .weatherInfo .temperature {
    font-size: 30px;
  }
  .widget {
    height: 580px;
    width: 550px;
  }
}

@media only screen and (max-width: 560px) {
  .widget {
    height: 580px;
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  header h2 {
    font-size: 35px;
  }

  .widget .weatherInfo .description .weatherCondition {
    font-size: 16px;
  }
  .widget .weatherInfo .description .place {
    font-size: 15px;
  }

  .widget .dateday {
    font-size: 25px;
  }

  .widget {
    height: 570px;
    width: 450px;
  }
}

@media only screen and (max-width: 450px) {
  header h2 {
    font-size: 30px;
  }
  .widget {
    height: 580px;
    width: 400px;
  }
}

@media only screen and (max-width: 413px) {
  header h2 {
    font-size: 27px;
  }
  .widget .weatherIcon {
    height: 45%;
  }

  .widget .weatherInfo .suntime {
    flex-direction: row;
  }

  .widget .weatherInfo {
    flex-direction: column;
    height: 50%;
  }
  .widget .dateday {
    height: 50%;
  }
  .widget {
    width: 350px;
  }

  .weatherLocation {
    justify-content: space-between;
  }

  .widget .weatherInfo .temperature {
    width: 100%;
    height: 50%;
    align-items: center;
  }

  .widget .weatherInfo .description {
    width: 100%;
    height: 70%;
  }

  .widget .weatherInfo .description .weatherCondition {
    font-size: 20px;
  }
  .widget .weatherInfo .description .place {
    font-size: 18px;
  }

  .widget .weatherInfo .suntime {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .widget .dateday {
    flex: 0 0 35%;
  }
  .widget .weatherInfo {
    flex: 0 0 65%;
  }
}

@media only screen and (max-width: 370px) {
  header h2 {
    font-size: 25px;
  }
  .widget {
    width: 350px;
  }
}

/* this media query for height */
@media only screen and (max-height: 720px) {
  body {
    min-height: 140vh;
  }
  .widget {
    top: 70%;
  }
}
@media only screen and (max-height: 620px) {
  body {
    min-height: 160vh;
  }
  .widget {
    top: 80%;
  }
}
@media only screen and (max-height: 520px) {
  body {
    min-height: 175vh;
  }
  .widget {
    top: 90%;
  }
}
